:root {
  --color-purple-light: #eeebf4;
  --color-purple-dark: #8966e9;
  --color-border: #cccccc96;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
  color: black;
}
.flex {
  display: flex;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.align-center {
  align-items: center;
}
.flex-col {
  flex-direction: column;
}

/* ///////////////////////////////////////// */
/* Navbar */
.navbar {
  background-color: var(--color-purple-light);
  padding: 2.5rem 1rem;
  width: 100%;
  height: 4rem;
  border-bottom: 1px solid var(--color-border);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-size: 1.5rem;
  font-weight: 600;
}
.logo-image {
  width: 3rem;
  background-color: var(--color-purple-dark);
  border-radius: 100px;
  margin-right: 0.8rem;
}
.heart {
  color: rgb(232, 147, 147);
  transform: translate(110px, 2.5px);
}
.heart:hover {
  color: rgb(255, 9, 9);
}

.c {
  width: 15px;
  height: 15px;
}
.plus {
  color: rgb(248, 246, 250);
  background-color: rgb(167, 133, 239);
  border-radius: 10px 10px;
}
.search {
  width: 50%;
  background-color: aliceblue;
  border-radius: 40px 40px;
}
.search:hover {
  cursor: pointer;
  background-color: rgb(167, 133, 239);
}
.magn {
  transform: translate(480px, 2.8px);
  color: rgb(250, 249, 253);
  background-color: rgb(64, 52, 242);
  border-radius: 20px 20px;
}
.magn:hover {
  background-color: rgb(167, 133, 239);
}

/* ///////////////////////////////////////// */
/* Sidenav */
.sidenav {
  padding: 1rem;
  position: fixed;
  left: 0;
  top: 0;
  overflow: auto;
  height: 100%;
  background-color: var(--color-purple-light);
  width: 18rem;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  z-index: 90;
}
.close-icon {
  padding: 0.2rem 0.8rem;
  background-color: #fff;
  border-radius: 1000px;
  font-size: 1.5rem;
  transition: all 0.3s;
  cursor: pointer;
}
.close-icon:hover {
  color: var(--color-purple-dark);
}
.filter-btn {
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  background-color: var(--color-purple-dark);
  font-size: 1.1rem;
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
}
/* ///////////////////////////////////////// */
/* Home */
.home {
  padding: 2rem;
  width: 100%;
  background-color: var(--color-purple-light);
  border-bottom: 1px solid var(--color-border);
}
.title {
  padding-bottom: 1.5rem;
}
.books {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.5rem;
}
.book {
  padding: 1rem;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  position: relative;
  gap: 1rem;
}
.book .image {
  width: 7rem;
  border: 2px solid var(--color-border);
  cursor: pointer;
}
.book .info-box {
  text-align: center;
  width: 12rem;
  font-size: 0.9rem;
  gap: 0.6rem;
}
.book .author {
  font-weight: 600;
}
.book .fav-icon {
  color: #ccc;
  position: absolute;
  width: 25px;
  height: 25px;
  top: 4px;
  right: 7px;
  transition: color 0.3s;
  cursor: pointer;
}
.book .fav-icon.active {
  color: var(--color-purple-dark);
}
.book .fav-icon:hover {
  color: var(--color-purple-dark);
}
.pagination {
  margin-top: 2rem;
  gap: 1rem;
}
.left-arrow,
.right-arrow {
  font-size: 1.2rem;
  border: none;
  background-color: var(--color-purple-light);
  padding: 0.3rem 0.8rem;
  border: 1px solid var(--color-border);
  border-radius: 100px;
  transition: all 0.3s;
  cursor: pointer;
}
.left-arrow:hover,
.right-arrow:hover {
  color: #fff;
  background-color: var(--color-purple-dark);
}
.pagination .number {
  font-size: 1.2rem;
  font-weight: 600;
}

/* ///////////////////////////////////////// */
/* Book Details */
.book-details {
  height: 100vh;
  background-color: var(--color-purple-light);
  width: 100%;
  gap: 15rem;
  padding: 1.5rem 3rem;
  border-bottom: 1px solid var(--color-border);
}
.book-details-author {
  font-weight: 600;
  font-style: italic;
  transition: all 0.3s;
}
.book-details-author:hover {
  color: var(--color-purple-dark);
}
.image-box {
  gap: 1rem;
}
.fav-btn {
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  background-color: var(--color-purple-dark);
  font-size: 1.1rem;
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
}

/* ///////////////////////////////////////// */
/* Author */
.author-section {
  height: 100vh;
  background-color: var(--color-purple-light);
  width: 100%;
  gap: 15rem;
  padding: 3rem 3rem;
}
.author-name {
  padding-bottom: 1rem;
  /* border-bottom: 1px solid var(--color-border); */
}
.author-about {
  text-transform: capitalize;
  color: #999;
  font-size: 0.9rem;
  font-weight: 600;
}

/* ///////////////////////////////////////// */
/* Create Book */
.createbook-section {
  background-color: var(--color-purple-light);
  width: 100%;
  padding: 2rem;
  border-bottom: 1px solid var(--color-border);
}
.createbook-section h2 {
  margin-bottom: 1rem;
}
.createbook-form {
  gap: 1.1rem;
}
.createbook-form div label {
  font-weight: 600;
}
.input-box input,
textarea {
  font-size: 1.1rem;
  padding: 0 0.5rem;
  width: 20rem;
  height: 1.8rem;
  border: 1.5px solid #ddd;
  border-radius: 5px;
}
.input-box input:focus,
textarea:focus {
  outline: 2px solid var(--color-purple-dark);
}
.input-box input::placeholder,
textarea::placeholder {
  color: #999;
  font-size: 1rem;
  font-weight: 500;
}
.createbook-form div textarea {
  height: 5rem;
}
.form-btn {
  font-weight: 600;
  color: #fff;
  border: none;
  background-color: var(--color-purple-dark);
  padding: 0.8rem 2rem;
  border-radius: 100px;
  transition: all 0.3s;
  cursor: pointer;
}
.form-btn:hover {
  background-color: #744cdf;
}
/* ///////////////////////////////////////// */
/* Features */
.features {
  background-color: var(--color-purple-light);
  border-bottom: 1px solid var(--color-border);
  height: 15rem;
  padding: 10rem 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1.5rem;
}
.feature {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
}
.feature-icon {
  background-color: #fff;
  font-size: 1.8rem;
  color: var(--color-purple-dark);
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

/* ///////////////////////////////////////// */
/* Footer */
.footer {
  background-color: var(--color-purple-light);
  display: flex;
  align-items: self-start;
  gap: 8rem;
}
.footer-logo {
  margin-bottom: 2rem;
}
.footer-desc {
  margin-bottom: 10rem;
  margin-top: 2rem;
  font-size: 0.9rem;
  color: #888;
  font-weight: 500;
}
.footer-rights {
  font-size: 0.9rem;
  font-style: italic;
}
.mid-content ul {
  margin-top: 0.5rem;
  list-style: none;
  gap: 0.5rem;
}
.mid-content a:hover {
  color: var(--color-purple-dark);
  transition: all 0.3s;
}
.map-photo {
  width: 20rem;
}
